{% extends 'portfolio/base.html' %}

{% block content %}
    <p class="mb-5" style="text-indent: 50px">

      My passion for programming and data science is better explained by the journey than the destination.
      With a grandfather and father who both retired from the Navy, the odds were good that I would end up in the Navy
      myself. With a desire to be in a technically demanding and challenging environment, I chose to commission into 
      the Navy as a submarine officer. Though I gained valuable leadership and management experience, I knew that the
      demands of a submarine at sea were not burdens I wanted to carry for the rest of my life.</p>

    <p class="mb-5" style="text-indent: 50px">

      I chose to leave the Navy and pursue the reason I chose a degree in political science: to improve and serve humanity.
      Through a journey of self discovery on the Pacific Crest Trail and learning more about industries beyond the scope of the military,
      I ended up developing an interest in programming. This interest grew into a fascination, and I learned how
      data and its 'science' were becoming increasingly important not only to the private sector, but to politics and government as well.
      I felt extremely fortunate; I'd found a set of skills and tools that I enjoyed using, that were in demand, and that could be used
      in a field that I was passionate about.</p>

{% endblock %}