{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Kurt
      <span class="text-primary">Maurer</span>
    </h1>
    <div class="subheading mb-5">Seattle, WA ·
      <a href="mailto:kurtrm@gmail.com">kurtrm@gmail.com</a>
    </div>
    <p class="mb-5" style="text-indent: 50px">
      Data scientist with five years experience in a data driven role. Capable of retrieving, cleaning, and visualizing
      data, drawing out statistical insight, and developing machine learning models. Understands how data drives decision making.
    </p>

    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/kurtrm" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.github.com/kurtrm" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Teaching Assistant</h3>
        <div class="subheading mb-3">Code Fellows</div>
        <p>Aided students in understanding Python web development frameworks, data structure implementations, and development operations deployment tools (specifically Heroku and AWS). Reviewed, tested, and gave feedback on code submissions.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">October 2017 - December 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Nuclear Submarine Officer<span class="subheading">&nbsp;&nbsp;Lieutenant (O-3)</span></h3>
        <div class="subheading mb-2">US Navy · USS Kentucky (SSBN 737)</div>
        <div>Bremerton, WA · Bangor, WA</div>
        <p>During my time in the Navy, I had various leadership and managerial roles. In all of them, effective communication was paramount.Three milestone qualifications include:
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
          <ul>
            <li class="mb-1"><b>Engineering Officer of the Watch</b>: Led a team of 10-15 nuclear trained sailors in routine reactor and steam plant operations and maintenance, directed casualty response, and coordinated with
                senior enlisted supervisors in managing priorites and deconflicting complex operations.</li>
            <li class="mb-1"><b>Officer of the Deck</b>: Led a team of sailors to safely navigate the ship through heavy nautical traffic areas, stabilize the ship in the event of a casualty, and prioritize tasks and responsibilities.</li>
            <li class="mb-1"><b>Strategic Weapons Duty Officer</b>: Responsible for ensuring safe management and maintenance of nuclear weapons in port.</li>
          </ul>
      </div>
    </div>
        </p>
        <div class="subheading mb-3">Tactical Systems Officer</div>
        <p>Directed three teams of sailors responsible for the maintenance and administration of all systems associated with the ship's offensive and defensive capabilities.</p>
        <div class="subheading mb-3">Damage Control Assistant</div>
        <p>Oversaw a team of sailors responsible for the maintenance and administration of non-nuclear and auxiliary systems. Equipment included life support, high pressure air, and auxiliary diesel systems.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">May 2011 - May 2016</span>
      </div>
    </div>

  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-0">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-5">Nuclear Engineer Officer Qualification</h3>
        <p>Junior officers commissioned as submariners are required to complete a rigorous nuclear training curriculum. The final course,
        PNEO, is a final qualification that enables a junior officer to become an Engineer officer, a department head that oversees
        a nuclear submarine's reactor and steam plants.</p>
        <div class="subheading mb-0">Naval Nuclear Power Training Command</div>
        <div>Charleston, SC</div>
        <p>Learned the principles of nuclear propulsion systems, emphasizing heat transfer and thermodynamics,
         water chemistry, reactor dynamics, radiological fundamentals, electrical engineering, and power plant systems.</p>
        <div class="subheading mb-0">Nuclear Power Training Unit</div>
        <div>Ballston Spa, NY</div>
        <p>Practical application of knowledge on an operating reactor plant. Responsible for leading a team of sailors through engineering casualties,
        observing various plant responses based on outside stimuli, and practicing complex reactor operations with a team.</p>
        <div class="subheading mb-0">Prospective Nuclear Engineer Officer (PNEO)</div>
        <div>Bangor, WA · Washington, D.C.</div>
        <p>Weeks of focused, cumulative study to prepare for a Naval Reactors administered engineering qualification exam, proceeded
        by two interviews at the Naval Reactors headquarters in D.C. A score of 3.2 is required to pass the exam.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2011 - June 2015</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-5">University of Florida</h3>
        <div class="subheading mb-0">Bachelor of Arts</div>
        <div>Political Science, Minor Sustainability Studies</div>
        <p>GPA: 3.69</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2007 - May 2011</span>
      </div>
    </div>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-python"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-django"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-database"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-travis"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-javascript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-ubuntu"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-aws"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-heroku"></i>
      </li>
    </ul>
    <div class="subheading mb-3">Data Analytics and Machine Learning</div>
    <ul class="fa-ul mb-3">
      <li>
        <i class="fa-li fa fa-plus-circle"></i>
        Numpy
      </li>
      <li>
        <i class="fa-li fa fa-plus-circle"></i>
        Pandas
      </li>
      <li>
        <i class="fa-li fa fa-plus-circle"></i>
        Sci-kit Learn
      </li>
      <li>
        <i class="fa-li fa fa-plus-circle"></i>
        TensorFlow
      </li>
       <li>
        <i class="fa-li fa fa-plus-circle"></i>
        Jupyter
      </li>

    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-dot-circle-o"></i>
        Problem Framing and Objective Determination</li>
      <li>
        <i class="fa-li fa fa-download"></i>
        Data Acquisition and Exploration</li>
      <li>
        <i class="fa-li fa fa-table"></i>
        Data Cleaning and Preparation</li>
      <li>
        <i class="fa-li fa fa-area-chart"></i>
        Model Selection</li>
      <li>
        <i class="fa-li fa fa-line-chart"></i>
        Model Tuning</li>
      <li>
        <i class="fa-li fa fa-bar-chart-o"></i>
        Solution Presentation</li>
      <li>
        <i class="fa-li fa fa-pie-chart"></i>
        System Launch, Monitoring, and Maintenance</li>

    </ul>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
  <div class="my-auto">
    <h2 class="mb-5">Interests</h2>
    <p>I enjoy taking in the view at the top of a ski slope, the silence of the woods on a less popular hike, or the excitement of catching a smallmouth on a Zara Spook.</p>
    <p class="mb-0">Lately indoors, there's a good chance you could find me reading the next book in the Expanse series, obsessing about Horizon: Zero Dawn, or doing a workout in my apartment garage.</p>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5">Awards &amp; Certifications</h2>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        Certificate - Advanced Web Development in Python - Code Fellows
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        Pacific Crest Trail 2600 Miler
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        Navy Achievement Medal (2)
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        Eagle Scout Award
      </li>
    </ul>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
  <div class="my-auto">
    <h2 class="mb-5">Projects</h2>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Hearth</h3>
        <p>An ongoing collaborative effort, the Hearth project aims to aggregate Seattle's disparate social services into one location,
        making it easy for people in need to find the organizations to help them get back on their feet. Without a centralized system, many organizations
        go overlooked, and people in need are forced to rely on tribal knowledge of case managers or biased, localized, or outdated sources.</p>
        <p>The website is currently in an MVP status and efforts are being made to accrue data from prevalent resources such as Washington 211.</p>
        <p>The website was built using Django and Bootstrap, and it was deployed with Ansible and AWS.</p>
        <a href="https://www.github.com/hearthseattle" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.hearthseattle.org" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-external-link fa-stack-1x fa-inverse"></i>
          </span>

      </div>
      <div class="resume-date text-md-right">
  <span class="d-none d-lg-block">
    <a href="https://www.hearthseattle.org" target="_blank"><img class="img-fluid-mine rounded-circle mx-auto mb-2" src="{% static 'res_portfolio/img/hearth.jpg' %}" alt=""></a>
  </span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Phone Network Graph</h3>
        <p>This project aimed to accomplish several goals: </p>
        <ul>
          <li>Extract data from an unstructured format.</li>
          <li>Clean the data using Python libraries, primarily Numpy and Pandas.</li>
          <li>Place the data into a labeled property graph, an increasingly popular data structure used
          in graph databases.</li>
          <li>Visualize the network graph using D3.</li>
        </ul>
        <p>I implemented my own labeled property graph as a first step to learn more about them. Where a traditional graph may consist
        of a node class or by even going as basic as a dictionary of dictionaries, a labeled property graph needs the relationships to be objects themselves,
      rather than a value in another dictionary. Additionally, they must be directed, and each relationship can contain properties that may give them weights.</p>
        <a href="https://github.com/kurtrm/phone_network_graph" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="{% url 'network_graph' %}" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-external-link fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="resume-date text-md-right">
  <span class="d-none d-lg-block">
    <a href="{% url 'network_graph' %}" target="_blank">
      <img class="img-fluid-mine rounded-circle mx-auto mb-2" src="{% static 'res_portfolio/img/network_pic.png' %}" alt="">
    </a>
  </span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Decision Tree</h3>
        <p>Decision trees are a common machine learning algorithm used for classification and regression tasks. In addition, they are the principle components of
        random forests and major players in ensemble learning. Here, I implemented my own decision tree which, at the very least, can classify the common iris data set
        based on petal length and width. I also learned sci-kit learn's implementation, which has a very easy way to export a visualization of the tree using graphviz.
        The image is available below, and a D3 visualization is under construction. The test suite run on my implementation returns the same values as shown in the tree.</p>
        <a href="https://github.com/kurtrm/decision_tree" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="{% url 'decision_tree' %}" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-external-link fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="resume-date text-md-right">
  <span class="d-none d-lg-block">
    <a href="{% url 'decision_tree' %}" target="_blank">
      <img class="img-fluid-mine rounded-circle mx-auto mb-2" src="{% static 'projects/iris_tree.png' %}" alt="">
    </a>
  </span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"></h3>
        <div class="subheading mb-3">And more!</div>
        <p>My GitHub profile has plenty of side projects I've been working on, including implementations of common computer science data structures,
           examples of using BeautifulSoup to scrape websites, and notes on machine learning.</p>
        <a href="https://www.github.com/kurtrm" target="_blank">See Kurt's GitHub profile.</a>
      </div>
    </div>

  </div>
</section>
{% endblock %}